<div class="container">
  <h1><%= @photo.title %></h1> 
  <p class="author">Фото загружено пользователем: <%= @photo.user.name %></p>
  <div class="original-photo">
    <div class="photo">
      <%= image_tag @photo.image.url(:original) %>
     </div>     
  </div>
  <div class="photo_comments">
    <h3>Комментарии:</h3>
  </div>  
</div>