body{
  padding-top: 50px;
}
.al-center{
  text-align: center;
}
.al-right{
  text-align: right;
  display: block;
}
.navbar{
  background: #ccc;
}
.form-block{  
  textarea{
    height: 100px;
  }
  .row{
    margin-bottom: 0 0 20px;
  } 
}
.form-group i{
  font-size: 11px;
  display: block;
}
.move-right input[type="submit"]{
  margin-left: 5px;
}
.form-block.add-comment-form {
  margin-bottom: 40px;
}
.form-block.add-comment-form textarea{
  height: 50px;
}

.photo-list{
  overflow: hidden;
  padding: 20px 0;
  .photo-item{
    width: 202px;   
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 5px;
    margin: 0 20px 20px 0;
    vertical-align: top;
    min-height: 250px;
    .photo{
      width: 170px;
      border-radius: 5px;
      overflow: hidden;
      margin: 10px auto 20px;
      img{
        display: block;
        width: 100%;
        height: auto;
      }
    }
    .photo-title{
      padding: 0 10px 10px;
      h4{
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 20px;
      }
      span{
        font-style: italic;
        display: block;
        text-align: right;
      }
    }    
  }
}

.photo-block{
  width: 600px;
  margin: 0 auto;
}

.photo-block.profile{
  .photo-item{
    padding: 0 0 20px;
    margin: 0 0 10px;
    border-bottom: 1px dotted #ccc;
    .photo{
      margin: 0 0 8px;
    }
  }
}

.original-photo{
  width: 100%;
  margin: 20px auto;
  .photo{
    margin: 0 0 20px;
    text-align: center;    
    img{
      max-width: 100%;
      height: auto;
    }
  }  
  .author{
    font-size: 15px;
  }
}

.add-comment .form-block textarea{
  height: 50px;
}
.add-comment .form-block input.txt-field{
  width: 100px;
  text-align: center;  
  margin-right: 30px;
  display: inline-block;
  float: none;
}

.photo_comments{  
  margin: 0 auto 50px;
  .comment-item{
    padding: 20px 0;
    margin: 0 0 20px;
    border-bottom: 1px dotted #ccc;
    .author{
        text-align: right;
        font-style: italic;
        strong{
        font-size: 18px;
        font-weight: normal;
      }
    }
    .score{
      font-size: 18px;
    }
  }
}
